---
import BaseLayout from './base-layout.astro';

type Props = {
  title: string;
  description: string;
  metaDescription?: string;
  publishedAt: Date;
  updatedAt?: Date;
};

const { title, description, metaDescription, publishedAt, updatedAt } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  metaDescription={metaDescription}
  publishedAt={publishedAt}
  updatedAt={updatedAt}
>
  <article class="prose mx-auto max-w-3xl px-6 py-12">
    <h1>{title}</h1>
    <slot />
  </article>
</BaseLayout>
