---
import BaseLayout from './base-layout.astro';
import PostMeta from '../components/post-meta.astro';
import type { CollectionEntry } from 'astro:content';

type Props = {
  title: string;
  description: string;
  publishedAt: Date;
  updatedAt?: Date;
  author: CollectionEntry<'authors'>;
};

const { title, description, publishedAt, updatedAt, author } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  type="article"
  publishedAt={publishedAt}
  updatedAt={updatedAt}
>
  <article class="prose mx-auto max-w-3xl px-6 py-12">
    <h1>{title}</h1>
    <PostMeta publishedAt={publishedAt} updatedAt={updatedAt} />
    <p class="text-sm font-semibold">
      By <a href={`/authors/${author.id}`}>{author.data.name}</a>
    </p>
    <slot />
  </article>
</BaseLayout>
